
/* Для мобильных устройств */
@media (max-width: 600px) {

}

/* Для планшетов */
@media (min-width: 601px) and (max-width: 960px) {
h5 {
    font-size: 12px;
}


}

/* Для десктопов */
@media (min-width: 961px) {



}
/* цвет хидара */
vaadin-app-layout::part(navbar){


}
/* диалоговое окно информация */
vaadin-confirm-dialog-overlay::part(overlay) {
border: solid white;
-webkit-box-shadow: 0px 0px 15px 12px rgba(255, 255, 255, 0.22);
-moz-box-shadow: 0px 0px 15px 12px rgba(255, 255, 255, 0.22);
box-shadow: 0px 0px 15px 12px rgba(255, 255, 255, 0.22);
}



/* диалоговое окно информация */
vaadin-confirm-dialog-overlay::part(header) {
    font-size: 12px;

}

/* Стилизация содержимого информация */
vaadin-confirm-dialog-overlay::part(content) {
    font-size:14px;

}
h3 {
    color: white;
}

vaadin-confirm-dialog-overlay::part(footer) {

}

/* Стилизация кнопки "Принять" */
vaadin-button[slot="confirm-button"] {

}

vaadin-button[slot="cancel-button"] {

}

body{


}

@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Lilita One Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MyCustomFont1';
    src: url('fonts/LTSuperior.otf') format('opentype');
}



html {
    --vaadin-app-layout-drawer-width: 200px; /* можно указать в % или px */

}

h6{
font-size: 8px;
}


.general-present {

    width: 100%; /* Обеспечиваем, что общий контейнер занимает всю ширину */
    display: flex;
    flex-direction: column; /* Размещаем дочерние элементы вертикально */

}


.title-present {


font-size: 15px;



}

.component-present {
    font-size: 14px;
    padding: 10px; /* Добавляем отступы для лучшего визуального восприятия */
    background-color: #37485F; /* Опциональный фон */
    border-radius: 4px; /* Опциональные скругленные углы */
    padding: 4px;


}

h5 {
    color:#c9d2df;
}



vaadin-side-nav::part(label){
font-size: 15px;
}

vaadin-side-nav-item{
font-size: 14px;

}

.title-component-divs{
padding-top:5px;
padding-bottom:1px;
}