
/* Для мобильных устройств */
@media (max-width: 600px) {
    .my-component {
        font-size: 14px;
        padding: 10px;
    }
}

/* Для планшетов */
@media (min-width: 601px) and (max-width: 900px) {
    .my-component {
        font-size: 18px;
        padding: 20px;
    }
}

/* Для десктопов */
@media (min-width: 901px) {
    .my-component {
        font-size: 22px;
        padding: 30px;
    }
}
/* цвет хидара */
vaadin-app-layout::part(navbar){

}
/* диалоговое окно информация */
vaadin-confirm-dialog-overlay::part(overlay) {
border: solid white;
-webkit-box-shadow: 0px 0px 15px 12px rgba(255, 255, 255, 0.22);
-moz-box-shadow: 0px 0px 15px 12px rgba(255, 255, 255, 0.22);
box-shadow: 0px 0px 15px 12px rgba(255, 255, 255, 0.22);
}



/* диалоговое окно информация */
vaadin-confirm-dialog-overlay::part(header) {
    background-color: #272a2c; /* Синий фон */
    color: white; /* Белый текст */
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

/* Стилизация содержимого информация */
vaadin-confirm-dialog-overlay::part(content) {
    background-color: #272a2c; /* Светлый фон */
    font-family: 'MyCustomFont1', normal;
    font-weight: 400;
    font-size:13px;
    color: white;
    padding: 20px;

}
h3 {
    color: white;
}

vaadin-confirm-dialog-overlay::part(footer) {
    background-color: #272a2c;
}

/* Стилизация кнопки "Принять" */
vaadin-button[slot="confirm-button"] {
    background-color: #2ecc71; /* Зеленый цвет */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

vaadin-button[slot="cancel-button"] {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

body{


}

@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Lilita One Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MyCustomFont1';
    src: url('fonts/LTSuperior.otf') format('opentype');
}



html {
    --vaadin-app-layout-drawer-width: 180px; /* можно указать в % или px */

}

h6{
font-size: 8px;
}
